$hotpink: #fe4066;
$purple: #7b28c7;
$blue: #2859c7;
$skyblue: #549de1;
$orange: #c78f28;
$red: #ed4c75;
$green: #67e083;
$yellow: #f5c346;

$darkBlue: #292c43;


$light-color: #8898aa;
$placeholder-color: #adb5bd;
$theme-color: #1c3448;
$theme-page-bg: #1c3448;

$theme-neutral-color: #5e72e4;
$theme-danger-color: $red;
$theme-primary-color: $skyblue;
$theme-success-color: $green;
$theme-warning-color: $yellow;


$primary-font: 'Ubuntu', Helvetica sans-serif;
$secondary-font: 'Open Sans', Helvetica sans-serif;
