.chat {
    margin-bottom: 1em;
}

.chat ul.chat__posts {
    // border: 1px solid var(--ck-color-base-border);
    // border-top-left-radius: var(--ck-border-radius);
    // border-top-right-radius: var(--ck-border-radius);
    border-bottom: none;
    margin: 1em 0 0;
    padding: 0;
    list-style-position: inside;
}

.chat ul.chat__posts li {
    display: flex;
    padding: 1em;
}

.chat ul.chat__posts li.new-post {
    /* Highlight a new post in the chat. */
    animation: highlight 600ms ease-out;
}

.chat ul.chat__posts li + li {
    margin-top: 1em;
}

.chat .chat__posts li .photo {
    border-radius: 100%;
    height: 40px;
    margin-right: 1.5em;
}

.chat .chat__posts li .time {
    color: hsl(0, 0%, 72%);
    font-size: 0.9em;
}

.chat .chat__posts .chat__posts__post__message > strong::after,
.chat__posts__post__mailto-user::after {
    content: "•";
    padding-left: 5px;
    padding-right: 5px;
    color: hsl(0, 0%, 72%);
}
@keyframes highlight {
    0% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}

.chat .chat__editor {
    /* Anti–FOUC (flash of unstyled content). */
    padding: 1em;
    border: 1px solid var(--ck-color-base-border);

    + .ck.ck-editor {
        margin-top: 0;

        .ck.ck-toolbar {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.ck-mentions .mention__item {
    display: block;
    img {
        border-radius: 100%;
        height: 30px;
    }

    span {
        margin-left: 0.5em;
    }

    &.ck-on span {
        color: var(--ck-color-base-background);
    }

    .mention__item__full-name {
        color: hsl(0, 0%, 45%);
    }
    &:hover:not(.ck-on) .mention__item__full-name {
        color: hsl(0, 0%, 40%);
    }
}

.chat {
    .ck-content .mention {
        background: unset;
    }

    .chat__posts a,
    .ck.ck-content a {
        color: hsl(231, 89%, 53%);
    }
}

